.form {
  width: 320px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #3a3a3a;
  border-radius: 12px;
  color: #fff;
}

label {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 11px;
  font-weight: 400;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container input {
  width: 100%;
  padding: 10px 36px 10px 0;
  background-color: #121212;
  border: none;
  border-bottom: 1px solid #555;
  color: #fff;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #505351;
  color: #fff;
  border-radius: 0;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="checkbox"] {
  width: 14px;
  height: 14px;
  position: relative;
  appearance: none;
  background-color: #3a3a3a;
  border: 1px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease;
}

input:focus {
  border-bottom-color: #fff;
}

input.error {
  border-bottom-color: #ff4c4c;
}

input:-webkit-autofill {
  background-color: #3a3a3a;
  -webkit-box-shadow: 0 0 0 1000px #3a3a3a inset;
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
}

input[type="checkbox"]:checked {
  background-color: #00d957;
  border-color: #00d957;
}

input[type="checkbox"]:checked::after {
  content: "✓";
  position: absolute;
  color: #3a3a3a;
  font-size: 14px;
  top: -2px;
  left: 1px;
}

.error-text {
  color: #ff4c4c;
  font-size: 12px;
  margin-top: 4px;
}

.checkbox-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 300;
}

.register-btn {
  padding: 10px;
  border: none;
  background-color: #00d957;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s;
}

.register-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.text {
  font-size: 11px;
  font-weight: 400;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}
