body {
  margin: 0;
  padding: 0;
  font-family:
    "Roboto",
    "Segoe UI",
    system-ui,
    -apple-system,
    sans-serif;
  color: white;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.forms-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  font-weight: 200;
}
